// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 // Defining a variable
 $gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  margin-top: 200px;
  display: flexbox;
  text-align: center;
}
a {
  color: white;
  &:hover {
      color: black;
  }
}
.btn-ghost {
  color: white;
  text-decoration: none;
  border: 1px solid black;
  background-color: black ;
  padding: 6px 15px;
  border-radius: 30px;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
  font-weight: bold;
}